@import url('./normalize.css');

@font-face {
    font-family: 'Karla';
    src: url('../assets/fonts/Karla-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

:root{
    --Green-200: hsl(148, 38%, 91%);
    --Green-600: hsl(169, 82%, 27%);
    --Red: hsl(0, 66%, 54%);
    --White: hsl(0, 0%, 100%);
    --Grey-500: hsl(186, 15%, 59%);
    --Grey-900: hsl(187, 24%, 22%);
    --Karla: 'Karla', sans-serif;
}

body{
    background: var(--Green-200);
    position: relative;
    min-height: 100vh;
    font-size: 16px;
    font-family: var(--Karla);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    background-color: var(--White);
    width: 90%;
    margin: 2rem auto;
    border-radius: 20px;
    overflow: hidden;
    max-width: 550px;
}

.form--content{
    width: 90%;
    margin: auto;
    padding: 2rem 0;
}

.form__title{
    font-size: 2rem;
    margin:0;
    margin-bottom: 1rem;
}

.form__inputs{
    display: flex;
    margin-bottom: 25px;
    flex-direction: column;
    row-gap: 1.2rem;
}

.form__fields{
    display: flex;
    flex-direction: column;
}

.form__fields--2{
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
    margin-top: 1rem;
}

.form__field--container{
    width: 100%;
}

.form__fields label{
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--Grey-900);
}

.form__fields label::after{
    content: " *";
    color: var(--Green-600);

}


.form__fields input:focus{
    outline: 2px var(--Green-600) solid;
}


.form__fields input, textarea{
    display: block;
    padding: 15px 8px;
    border-radius: 6px;
    border: 1px var(--Grey-500) solid;
    width: 100%;
    margin-top: 0.6rem;
}

.query__options{
    display: flex;
    align-items: center;
    padding: 1rem 1.7rem;
    justify-content: start;
    gap: 1rem;
    outline: 1px var(--Grey-500) solid;
    border-radius: 6px; 
}

.query__options input{
    margin: 0;
    width: 1rem;
    height: 1rem;
}

.query__options input:focus{
    outline: none;
}

.form__fields textarea{
    resize: none;
    overflow-y: hidden;
}

.form__fields textarea:focus{
    outline: 2px var(--Green-600) solid;
}

.form_fields--checkbox{
    display: flex;
    gap: 1.5rem;
}

.form_fields--checkbox span::after{
    content: " *";
    color: var(--Green-600);
}

.form__submit{
    width: 100%;
    background: var(--Green-600);
    color: var(--White);
    font-weight: 700;
    font-size: 1.1rem;
    border: none;
    border-radius: 8px;
    padding: 1.4rem 2rem;
    text-align: center;
    transition: all 0.2s ease-in;
}

.form__submit:hover{
    background: var(--Grey-900);
}

/* utility class */

.selected-query{
    outline-color: var(--Green-600);
    background-color: var(--Green-200);
}


.toast{
    opacity: 0;
    background-color: var(--Grey-900);
    color: var(--White);
    font-size: 14px;
    position: fixed;
    z-index: 10;
    top: -6rem;
    margin: 0 auto;
    padding: 1.3rem 1.4rem;
    border-radius: 10px;
    transition: opacity .5s, transform .5s;
}

.toast p{
    margin: 0;
}

.toast__success{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.toast__title{
    font-size: 1.2em;
    font-weight: bold;
}

.toast .toast__message{
    color: var(--Grey-500);
    margin-top: 14px;
}

.toast__show{
    visibility: visible;
    transform: translateY(120%);
    opacity: 1;
}

.toast__hide{
    opacity: 0; 
    visibility: hidden;
}

.error-message{
    font-size: 0.9rem;
    color: var(--Red);
    margin: 0;
    margin-top: 0.5rem;
}

@media screen and (min-width: 768px){
    .form{
        margin: 4rem auto;
    }
    .form__fields--2{
        flex-direction: row;
        column-gap: 1.5rem;
    }

    .query__options{
        width: 50%;
    }
}