*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

:root{
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Semi-Dark-Blue: hsl(213, 9%, 24%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
    --Font-Overpass: "Overpass", sans-serif;
}

@keyframes fade-in{
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100%{
        opacity: 100%;
        transform: translateY(0px);
    }
}

@keyframes zoom-in{
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100%{
        opacity: 100%;
        transform: scale(1);
    }
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Very-Dark-Blue);
    font-size: 15px;
    font-family: var(--Font-Overpass);
}

.rating__container{
    background: var(--Dark-Blue);
    width: 90%;
    max-width: 378px;
    padding: 2em;
    border-radius: 1rem;
    transition-property: transform;
    animation: fade-in 0.5s ease-in-out;
}

.rating__start{
    padding: 1em;
    width: max-content;
    background-color: var(--Semi-Dark-Blue);
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1.5rem;
}

.start__image{
    display: block;
    width: 1em;
}

.rating__title{
    color: var(--White);
    font-weight: 700;
    font-size: 2em;
    margin-bottom: 0.8rem;
}

.rating__content{
    color: var(--Light-Grey);
    font-size: 0.9em;
    line-height: 1.5;
}

.rating__calification{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1.2rem 0 1.3rem;
    justify-content: space-evenly;
    align-items: center;
}

.rating__calification .number__calification{
    background-color: var(--Semi-Dark-Blue);
    color: var(--Light-Grey);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 1em;
}

.rating__calification .number__calification:hover{
    background-color: var(--Orange);
    color: var(--Very-Dark-Blue);
    transition-property: background, color;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.rating__calification .number__calification--active{
    background-color: var(--White);
    color: var(--Very-Dark-Blue);
}

.rating__calification .number__calification--active:hover{
    background-color: var(--White);
}

.calification__submit{
    text-align: center;
    cursor: pointer;
    display: block;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 1em 6em;
    background-color: var(--Orange);
    color: var(--Very-Dark-Blue);
    border: none;
    border-radius: 2rem;
    outline: none;
    transition-property: background;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.calification__submit:hover{
    background-color: var(--White);

}

.thanks__modal{
    display: none;
    background-color: var(--Dark-Blue);
    width: 90%;
    max-width: 384px;
    padding: 3em 1.5em;
    border-radius: 1rem;
    overflow: hidden;
    text-align: center;
    transition-property: transform;
    animation: zoom-in .5s ease-in-out;
}

.thanks__puntuation{
    color: var(--Orange);
    background-color: var(--Semi-Dark-Blue);
    width: max-content;
    margin: 1em auto 2em;
    padding: 8px 1em;
    font-weight: 400;
    line-height: 1;
    border-radius: 2em;

}

.thanks__title{
    font-size: 2em;
    color: white;
    margin-bottom: 1em;
}

.thanks__paragraph{
    color: var(--Light-Grey);
    line-height: 1.5;
}

@media (min-width: 768px){
    .rating__container{
        border-radius: 1.7em;
        padding: 2em;
    }
}

